In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("salary2.csv")

In [3]:
df

   Experience  Test  Salary
0           1     8   25000
1           3     4   17000
2           4     6   42000
3           5     9   50000
4           7     5   45000
5           8     7   82000
6          10     2   81000
7          11     6   90000
8          12     9  140000
9          15     6  130000

In [4]:
df.head()

   Experience  Test  Salary
0           1     8   25000
1           3     4   17000
2           4     6   42000
3           5     9   50000
4           7     5   45000

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
xtrain,xtest,ytrain,ytest = train_test_split(df[["Experience","Test"]],df["Salary"],test_size=0.6)

In [7]:
xtrain

   Experience  Test
6          10     2
0           1     8
9          15     6
2           4     6

In [8]:
reg = LinearRegression()

In [9]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [10]:
ytest

1     17000
3     50000
7     90000
8    140000
5     82000
4     45000
Name: Salary, dtype: int64

In [11]:
reg.predict(xtest)

array([ 30246.75324675,  58357.14285714,  98389.61038961, 113675.32467532,
        77142.85714286,  64318.18181818])

In [12]:
reg.coef_

array([7902.5974026 , 2461.03896104])

In [13]:
#y = m1*x1 + m2*x2 + c

In [14]:
reg.intercept_

-3305.194805194784

In [15]:
reg.score(xtest,ytest)

0.8484716034734656